#main {
	font-family: "Maven Pro", Helvetica, Arial, sans-serif;
}

/* highlight correctly filled-in squares, rows, and columns */
.valid_row, .valid_col, .valid_sq {
	background: rgba(173, 216, 230, 0.5);
}

/* highlight rows, cols, and squares that contain duplicated digits */
.duplicate_row, .duplicate_col, .duplicate_sq {
	background: rgba(240, 128, 128, 0.5);
}

.hidden {
	display: none;
}

#title {
	margin-top: 50px;
	font-size: 3rem;
	text-align: center;
	font-weight: 700;
}

#board {
	margin: 0 auto;
}

.sudoku_input {
	border: none;
	text-align: center;
	width: 100px;
	height: 80px;
	font-family: inherit;
	font-size: 2rem;
	-moz-appearance: textfield;
	color: mediumblue;
	font-weight: 700;

}

/* prevent incrementing buttons from displaying */
.sudoku_input::-webkit-inner-spin-button {
	-webkit-appearance: none;
}

.sudoku_input[readonly] {
	color: black;
}

td {
	border: 5px groove gainsboro;
}

table {
	border: 15px groove grey;
}

.row_4, .row_7{
	border-top: 15px groove grey;
}

.col_4, .col_7 {
	border-left: 15px groove grey;
}

/* phones */
@media screen and (max-width: 480px) {
	.sudoku_input {
		width: 39px;
		height: 32px;
		font-size: 1.5rem;
	}

	td {
		border: 3px groove gainsboro;
	}

	table {
		border: 7px groove grey;
	}

	.row_4, .row_7{
		border-top: 7px groove grey;
	}

	.col_4, .col_7 {
		border-left: 7px groove grey;
	}
}


/* tablets */
@media screen and (min-width: 481px) and (max-width: 1024px) {
	.sudoku_input {
		width: 60px;
		height: 48px;
		font-size: 1.75rem;
	}

	td {
		border: 4px groove gainsboro;
	}

	table {
		border: 10px groove grey;
	}

	.row_4, .row_7{
		border-top: 10px groove grey;
	}

	.col_4, .col_7 {
		border-left: 10px groove grey;
	}
}